### Part 0b: Merging all the datasets into one and exporting it

In [58]:
import pandas as pd
import numpy as np
import sklearn as sk

In [59]:
### Ingest the data files
cleaned_hpi_price_data = pd.read_csv('data/cleaned data/cleaned_hpi_price_data.csv')
recession_flag = pd.read_csv('data/cleaned data/recession_flag_yearly.csv')
fed_funds_rate = pd.read_csv('data/fedfundsrate.csv')
fed_funds_rate_year = pd.read_csv('data/cleaned data/yearly_fed_rates_mean.csv')

In [60]:
cleaned_hpi_price_data = cleaned_hpi_price_data.drop(['zip_code', 'normalized_sale_price_2012'], axis = 1)
cleaned_hpi_price_data.head(5)

,Five-Digit ZIP Code,Year,Annual Change (%),HPI,HPI from 2012,HPI with 2012 base,normalized_sale_price
0,1001.0,1984,.,100.00,279.95,0.357207,58369.688570
1,1001.0,1985,16.00,116.00,279.95,0.414360,67708.838742
2,1001.0,1986,14.21,132.48,279.95,0.473227,77328.163418
3,1001.0,1987,21.08,160.41,279.95,0.572995,93630.817436
4,1001.0,1988,17.63,188.68,279.95,0.673977,110131.928394

In [61]:
recession_flag.head(10)

   YEAR  RECESSION_FLAG
0  1967               0
1  1968               0
2  1969               1
3  1970               1
4  1971               0
5  1972               0
6  1973               1
7  1974               1
8  1975               1
9  1976               0

In [62]:
fed_funds_rate_year.head(10)

   YEAR  avg_rate_for_year
0  1954           1.008333
1  1955           1.785000
2  1956           2.728333
3  1957           3.105000
4  1958           1.572500
5  1959           3.305000
6  1960           3.215833
7  1961           1.955000
8  1962           2.708333
9  1963           3.178333

In [63]:
# merge all the data into a single dataframe
total_market_data = cleaned_hpi_price_data.merge(recession_flag, left_on=['Year'], right_on=['YEAR'])
total_market_data = total_market_data.merge(fed_funds_rate_year, left_on=['Year'], right_on=['YEAR'])

In [64]:
total_market_data

,Five-Digit ZIP Code,Year,Annual Change (%),HPI,HPI from 2012,HPI with 2012 base,normalized_sale_price,YEAR_x,RECESSION_FLAG,YEAR_y,avg_rate_for_year
0,1001.0,1984,.,100.00,279.95,0.357207,58369.688570,1984,0,1984,10.2250
1,1002.0,1984,15.40,115.40,348.54,0.331095,91121.681896,1984,0,1984,10.2250
2,1020.0,1984,14.40,114.40,296.68,0.385601,54643.995979,1984,0,1984,10.2250
3,1027.0,1984,24.50,124.50,400.14,0.311141,67051.045930,1984,0,1984,10.2250
4,1028.0,1984,15.12,197.78,537.26,0.368127,82988.087351,1984,0,1984,10.2250
...,...,...,...,...,...,...,...,...,...,...,...
457617,99507.0,1977,8.43,122.53,444.35,0.275751,71422.076679,1977,0,1977,5.5375
457618,99508.0,1977,3.60,120.79,444.15,0.271958,58613.319890,1977,0,1977,5.5375
457619,99515.0,1977,7.86,122.42,443.44,0.276069,84425.403575,1977,0,1977,5.5375
457620,99517.0,1977,7.09,111.45,452.84,0.246113,66993.089653,1977,0,1977,5.5375
457621,99709.0,1977,4.95,107.96,330.36,0.326795,75154.401796,1977,0,1977,5.5375

In [65]:
total_market_data.to_csv('data/cleaned data/total_market_data_merged.csv')