## Part 1: Interest Rates
How sensitive are home prices to changes in interest rates?
-->Plot interest rates against the HPI or normalized sale price over time to see if there is a correlation.
-->Plot by outlier zip codes

In [7]:
import pandas as pd
import numpy as np
import sklearn as sk

In [14]:
### Ingest the data files
cleaned_hpi_price_data = pd.read_csv('data/cleaned data/cleaned_hpi_price_data.csv')
recession_flag = pd.read_csv('data/cleaned data/recession_flag_clean.csv')
fed_funds_rate = pd.read_csv('data/fedfundsrate.csv')
fed_funds_rate_year = pd.read_csv('data/cleaned data/yearly_fed_rates_mean.csv')

In [15]:
cleaned_hpi_price_data.head(1)

,Five-Digit ZIP Code,Year,Annual Change (%),HPI,HPI from 2012,HPI with 2012 base,normalized_sale_price,zip_code,normalized_sale_price_2012
0,1001.0,1984,.,100.0,279.95,0.357207,58369.68857,1001.0,163405.943152

In [16]:
recession_flag.head(1)

         DATE  recession_flag  year  quarter
0  1967-10-01             0.0  1967        4

In [17]:
fed_funds_rate_year.head(1)

   YEAR  avg_rate_for_year
0  1954           1.008333

In [ ]:
# merge all the data into a single dataframe
total_market_data =