In [1]:
# Dependencies
import requests
import json
from pprint import pprint
import pandas as pd
import numpy as np
import re
from single_zip_function import get_schools_in_zip
from outliers_utility import single_year_outliers

# Import the API key
from config import geoapify_key

In [2]:
# Read in outlier zipcode data
file_path_zips = "../data/analysis/annual_outlier_zips.csv"
annual_outlier_zips_df = pd.read_csv(file_path_zips)
annual_outlier_zips_df.drop(columns=annual_outlier_zips_df.columns[0], axis=1, inplace=True)

file_path_values = "../data/analysis/annual_outlier_values.csv"
annual_outlier_values_df = pd.read_csv(file_path_values)
annual_outlier_values_df.drop(columns=annual_outlier_values_df.columns[0], axis=1, inplace=True)

In [3]:
# If you want to select out a specific year
year = '2018'

# Create a dataframe with zip codes for the year you want
year_zips_df = pd.DataFrame()
year_zips = annual_outlier_zips_df[year]
year_zips_df[year] = year_zips

# Create a dataframe with values for the year  you want
year_values_df = pd.DataFrame()
year_values = annual_outlier_values_df[year]
year_values_df[year] = year_values

In [4]:
# Remove empty cells to leave only the year you want
year_zips_cleaned_df = year_zips_df.dropna().copy()
year_values_cleaned_df = year_values_df.dropna().copy()

# Rename the columns
year_zips_cleaned_df.rename(columns={year: "zip_code"}, inplace=True)
year_values_cleaned_df.rename(columns={year: "Annual Change (%)"}, inplace=True)

In [5]:
# Merge the two cleaned DataFrams
merge_df = year_zips_cleaned_df.join(year_values_cleaned_df)
merge_df

       zip_code  Annual Change (%)
14240   93660.0              27.71
14241   97011.0              18.59
14242   32811.0              21.26
14243    5261.0              -8.25
14244   34947.0              30.39
...         ...                ...
14833   15690.0              -8.66
14834   11548.0             -21.09
14835   39305.0              -5.78
14836   19964.0              23.97
14837   11030.0              -5.43

[598 rows x 2 columns]

In [6]:
# If you want to check all the years
# Create a list of all the years in the set
# Not using this functionality in this version but it's here if you need it!
years_list = annual_outlier_values_df.keys()

for year in years_list:
    # Create a dataframe with zip codes for the year you want
    year_zips = annual_outlier_zips_df[year]
    year_zips_cleaned_df = pd.DataFrame({year: year_zips}).dropna().copy()
    year_zips_cleaned_df.rename(columns={year: "zip_code"}, inplace=True)

    # Create a dataframe with values for the year you want
    year_values = annual_outlier_values_df[year]
    year_values_cleaned_df = pd.DataFrame({year: year_values}).dropna().copy()
    year_values_cleaned_df.rename(columns={year: "Annual Change (%)"}, inplace=True)

    # Merge the two cleaned DataFrams
    all_merge_df = year_zips_cleaned_df.join(year_values_cleaned_df)
    # Then use all_merge_df in this iteration of the loop for whatever you're doing with it

In [7]:
zip_list = []
for zipcode in merge_df['zip_code']:
    # Convert the zipcode to an integer, then back to a string
    # This will remove any leading zeros from the zipcode
    zipcode_str = str(int(zipcode))
    zip_list.append(zipcode_str)

In [8]:
print(zip_list)

['93660', '97011', '32811', '5261', '34947', '34236', '35014', '96756', '93591', '35217', '6023', '94087', '32686', '92270', '35961', '5483', '33838', '34705', '33839', '31022', '35005', '92660', '6018', '33859', '92385', '33573', '3592', '95129', '36277', '34714', '98934', '35063', '8045', '35118', '95423', '94938', '6069', '6793', '32641', '93669', '33619', '96795', '32550', '35905', '33850', '6112', '95126', '31217', '95365', '95128', '93622', '6068', '95668', '4347', '5257', '94925', '5763', '34269', '94085', '6783', '95032', '94939', '33472', '33190', '32304', '3243', '34433', '93505', '6794', '34448', '2534', '32254', '31816', '33142', '92037', '33035', '3465', '33147', '33815', '5033', '94002', '3217', '35208', '35610', '36104', '32767', '30746', '30753', '94043', '36201', '34797', '33946', '32784', '95050', '32222', '32112', '34453', '1038', '33598', '3280', '33545', '95054', '35188', '35184', '35622', '5251', '94062', '95138', '35647', '94063', '3218', '35643', '34691', '92590', '31415', '94704', '7711', '32413', '1050', '35049', '96762', '33140', '6759', '35211', '30735', '95118', '2863', '92268', '94070', '32461', '5663', '33154', '1011', '33947', '92378', '36268', '5255', '95231', '3581', '32114', '95916', '94010', '33127', '3266', '95110', '34242', '6757', '6088', '92561', '31705', '34785', '34607', '33579', '95112', '35805', '98253', '29906', '62692', '98576', '49007', '12202', '43164', '78227', '48885', '29692', '78224', '48877', '29689', '12204', '43155', '48891', '98424', '44707', '62513', '49061', '12138', '28556', '62424', '62338', '49072', '30005', '62642', '12168', '73119', '62628', '62634', '43107', '19029', '98349', '49029', '29940', '62573', '44703', '98340', '64124', '73007', '12521', '2139', '44625', '14301', '44626', '43413', '44613', '64490', '44609', '97836', '43347', '12543', '22740', '12428', '64052', '17040', '48850', '48871', '64018', '48865', '2140', '22715', '22716', '12516', '98262', '97913', '84311', '44645', '25420', '64077', '74110', '28479', '77547', '85611', '85638', '16424', '74119', '22027', '61242', '98232', '49279', '49271', '27053', '61373', '85395', '61325', '61353', '44843', '11797', '61039', '30088', '74343', '21914', '77518', '77506', '19142', '49342', '74128', '49406', '16323', '61760', '98418', '73527', '61756', '61770', '78013', '61726', '78002', '30035', '61864', '61872', '85143', '16844', '46404', '16841', '85128', '41144', '61531', '1220', '44836', '61455', '49262', '61486', '61547', '14482', '97452', '77835', '61568', '24013', '13159', '29401', '13142', '17728', '44311', '70788', '80427', '44105', '79536', '29374', '13211', '17565', '17562', '68366', '44108', '68349', '14103', '48157', '17846', '80536', '14111', '68108', '68111', '44076', '70805', '13112', '80481', '17309', '17771', '97536', '68069', '24176', '97499', '70346', '17401', '13605', '29059', '48021', '13619', '47807', '14008', '14028', '47977', '47963', '13903', '44128', '1255', '68532', '68649', '24088', '13308', '1254', '24078', '17554', '70555', '24137', '48030', '70085', '13439', '70039', '13438', '18229', '12780', '29583', '83686', '72542', '18255', '83801', '43556', '78638', '18085', '23011', '83605', '66076', '22969', '83655', '43451', '47036', '43456', '22841', '18447', '64644', '78559', '43442', '12567', '47024', '43464', '43445', '1230', '64720', '12581', '48519', '18344', '48464', '65632', '44491', '48458', '44502', '1337', '97469', '65243', '43466', '47102', '14212', '67146', '67144', '47273', '67205', '43945', '13033', '67120', '24549', '13060', '44405', '44404', '14136', '17237', '18053', '66209', '83334', '24563', '72132', '14210', '44431', '43837', '48342', '2129', '23083', '81632', '44436', '30291', '20677', '54156', '15043', '75249', '27891', '20689', '30294', '77025', '20684', '77038', '97376', '8609', '77016', '56524', '37806', '75454', '15056', '30296', '15314', '77024', '20690', '30297', '15059', '28137', '90265', '38366', '30238', '38222', '21223', '77081', '46058', '36340', '77076', '75180', '20129', '10969', '28167', '15530', '20611', '30260', '53812', '53922', '60043', '77048', '15021', '28114', '90404', '45232', '90405', '97021', '20763', '36703', '36750', '8097', '91917', '45402', '45406', '36502', '76115', '30354', '8079', '55385', '8068', '76119', '37714', '30311', '37738', '15233', '30314', '56326', '55017', '45341', '37309', '55925', '37317', '8241', '8243', '55910', '98377', '45333', '8328', '56009', '8311', '55965', '14611', '60523', '28360', '16051', '60501', '28356', '77423', '89106', '89108', '89107', '60553', '89101', '60537', '89115', '89110', '11739', '40051', '89156', '39530', '39556', '89448', '60460', '15942', '89429', '39573', '89169', '60484', '50214', '60476', '45118', '39563', '16143', '28394', '30105', '74857', '77479', '46229', '16154', '97102', '60963', '14544', '49450', '16156', '40337', '14555', '97360', '89030', '46218', '49880', '40210', '89011', '77430', '11749', '50007', '89040', '87701', '49668', '46225', '49726', '87540', '97438', '60621', '88317', '60623', '46128', '75134', '60407', '45204', '60426', '90007', '38703', '19801', '19946', '38751', '60173', '51525', '52802', '51571', '39194', '45167', '45205', '60409', '15902', '51561', '30216', '14760', '21654', '20037', '15697', '15926', '21657', '19706', '28333', '15690', '11548', '39305', '19964', '11030']

In [9]:
for zipcode in zip_list:
    print(zipcode)
    area_df,zip_df = get_schools_in_zip(zipcode)
    print(area_df)

93660
                                      name         county zipcode         lon  \
0            San Joaquin Elementary School  Fresno County   93660 -120.187670
1           Tranquillity Elementary School  Fresno County   93668 -120.251439
2                 Tranquillity High School  Fresno County   93668 -120.253202
3                   Helm Elementary School  Fresno County   93627 -120.099579
18  Kerman Union High School (Former Site)  Fresno County   93630 -120.060992
19          Burrel Union Elementary School  Fresno County   93656 -119.988643

          lat  distance
0   36.610547        47
1   36.644238      6601
2   36.645935      6852
3   36.533151     11583
18  36.772168     21340
19  36.491735     22107
97011
                                 name            county zipcode         lon  \
0          Arrah Wanna Outdoor School  Clackamas County   97067 -121.975634
1               Welches Middle School  Clackamas County   97067 -121.947091
2               Howard Outdoor School  Clackamas County   97019 -122.187174
3           Firwood Elementary School  Clackamas County   97055 -122.222047
4           Cedar Ridge Middle School  Clackamas County   97055 -122.260947
5           Cedar Ridge Middle School  Clackamas County   97055 -122.261184
6           Cedar Ridge Middle School  Clackamas County   97055 -122.261839
7                  Sandy Grade School  Clackamas County   97055 -122.262663
8               Namanu Outdoor School  Clackamas County   97055 -122.241331
9                   Sandy High School  Clackamas County   97055 -122.269763
10                  Sandy High School  Clackamas County   97055 -122.277894
11                 Mount Hood Academy  Clackamas County   97028 -121.757218
13            Kelso Elementary School  Clackamas County   97009 -122.307021
14           Guide Dogs for the Blind  Clackamas County   97009 -122.324372
15               Estacada High School  Clackamas County   97023 -122.330995
16       River Mill Elementary School  Clackamas County   97023 -122.334170
17        Estacada Junior High School  Clackamas County   97023 -122.332675
18  Clackamas River Elementary School  Clackamas County   97023 -122.332729
19      Eagle Creek Elementary School  Clackamas County   97022 -122.352449

          lat  distance
0   45.343327      4044
1   45.343632      5683
2   45.443574     16113
3   45.373815     16611
4   45.400013     19896
5   45.398968     19968
6   45.398728     20025
7   45.398813     20063
8   45.447716     20089
9   45.400178     20686
10  45.404533     20878
11  45.304656     21064
13  45.420176     23876
14  45.420071     25103
15  45.297104     26366
16  45.297207     26648
17  45.293329     26710
18  45.291575     26779
19  45.361692     26938
32811
                                        name         county zipcode  \
0             Eagle's Nest Elementary School  Orange County   32811
1                Millennia Elementary School  Orange County   32819
2         Richmond Heights Elementary School  Orange County   32811
3                       Carver Middle School  Orange County   32811
4                Eccleston Elementary School  Orange County   32811
5                    Winter Park Day Nursery  Orange County   32811
6                  Fellowship Baptist School  Orange County   32839
7        Millennia Gardens Elementary School  Orange County   32839
8            Shingle Creek Elementary School  Orange County   32819
9         Trinity Lutheran Elementary School  Orange County   32835
10                    Discovery Prep Academy  Orange County   32819
11  A Tiny Christian Soldier Day Care Center  Orange County   32835
12       Washington Shores Elementary School  Orange County   32805
13                  Dr. Phillips High School  Orange County   32819
14                     Alternative Education  Orange County   32855
15              Orlo Vista Elementary School  Orange County   32818
17               MetroWest Elementary School  Orange County   32835
18                Catalina Elementary School  Orange County   32855
19                  Sadler Elementary School  Orange County   32839

          lon        lat  distance    village
0  -81.453165  28.516618      1293        NaN
1  -81.444230  28.486072      1997        NaN
2  -81.428130  28.515241      2430        NaN
3  -81.436359  28.525096      2528        NaN
4  -81.433391  28.525086      2731        NaN
5  -81.433127  28.522503      2747        NaN
6  -81.426460  28.518892      2990        NaN
7  -81.420994  28.495580      3063        NaN
8  -81.434273  28.480589      3148        NaN
9  -81.461183  28.532502      3257        NaN
10 -81.475198  28.480984      3342        NaN
11 -81.484239  28.493893      3349        NaN
12 -81.422610  28.529373      3814        NaN
13 -81.477112  28.469832      3932        NaN
14 -81.410975  28.512125      3962        NaN
15 -81.458683  28.541947      4229        NaN
17 -81.493472  28.520562      4246  MetroWest
18 -81.408503  28.511458      4342        NaN
19 -81.427015  28.471671      4365        NaN
5261

IndexError: list index out of range

In [ ]:
get_schools_in_zip("90049")

In [ ]:
for zipcode in zip_list:
    # call the get_schools_in_zip function to get the data
    zip_df, area_df = get_schools_in_zip(zipcode)[0]
    num_in_zip=len(zip_df)+1
    num_in_area=len(area_df)+1

In [ ]:
print(result)

In [ ]:
print(len(result[0]))